<div class="row">
  <div class="col-sm-4" ng-repeat="order in orders track by $index">
    <div class="panel panel-card">
      <div class="p item" style="background: #d1d1d1">
        <div style="font-size: 20px">Pedido #{{order.cod_pedido}}</div>
        <p>{{order.fecha}}</p>
      </div>
      <a ng-click="goToProductList(order)" md-ink-ripple
        class="md-btn md-raised md-fab indigo-A200 m-r md-fab-offset pull-right">
        <span class="text-white">
          <i class="mdi-action-description i-24"></i>
        </span>
      </a>
      <div class="p">
        <h4>Bs. {{order.total | number : 2}}</h4>
        <div class="col-12 bg-success text-white"
          ng-if="order.estado == 1">
          Pendiente
        </div>
        <div class="col-12 bg-info text-white" ng-if="order.estado == 2">
          En proceso
        </div>
        <div class="col-12 bg-success text-white"
          ng-if="order.estado == 3">
          Entregado
        </div>
        <div class="col-12 bg-danger text-white"
          ng-if="order.estado == 4">
          Cancelado
        </div>
      </div>
    </div>
  </div>
</div>
