<div class="row">
  <div class="col-sm-4" ng-repeat="category in categories track by $index">
    <div class="panel panel-card">
      <div class="item">
        <img src="{{category.foto}}" class="w-full r-t"
          alt="Imagen no encontrada">
      </div>
      <a ng-click="goToProductList(category)" md-ink-ripple
        class="md-btn md-raised md-fab indigo-A200 m-r md-fab-offset pull-right"><span class="text-white"><i class="mdi-action-shopping-basket i-24"></i></span></a>
      <div class="p">
        <h3>{{category.nombre}}</h3>
        <p>{{category.descripcion}}</p>
      </div>
    </div>
  </div>
</div>
